<h2>Lista de artículos</h2>

<%= link_to "Dashboard", posts_dashboard_path%>


<% @posts.each do |post|%>
<ul>
    <li><%= post.title %></li>
    <li><%= post.created_at %></li>
    <li><%= image_path post.image_url %></li> 
    <img src="<%=post.image_url%>" >
    <li><%= post.content %></li>

</ul>

<%end%>
